<%- include('../layout/header') %> 
<%- include('../partials/admin-header')  %> 

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/public/stylesheets/templatemo.css">
    <link rel="stylesheet" href="/public/stylesheets/custom.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/stylesheets/selection.css">
</head>

<body>
  
    <!-- Close Top Nav -->


    <!-- Header -->
    


    <div class="btn-group btn-group-toggle" id="selection" data-toggle="buttons" style="margin-left: 35rem;margin-top: 3rem;">
        <label class="btn btn-secondary ">
            <input type="radio" name="options" id="option1" autocomplete="off"><a href="/admin/orders"><button
                    class="button">New</button></a>
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="options" id="option2" autocomplete="off"><a href="/admin/confirmed"><button
                    class="button">confirmed</button></a>
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="options" id="option3" autocomplete="off"><a href="/admin/delivered"><button
                    class="button">delivered</button></a>
        </label>
    </div>
    <h1 style="margin-left: 38rem;margin-top: 1rem;">DELIVERED</h1>
    
    <div class="container">
        <div class="btn-group pt-5 contact">
          <a class="btn btn-primary dropdown-toggle mb-2" data-bs-toggle="dropdown" aria-expanded="false">
              Download
          </a>
          <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/admin/exportExcel">Excel</a></li>
              <li><button class="dropdown-item" onclick="myfun('pt')">Pdf</button></li>
        
          </ul>
        </div>
        
    </div>
    <div id="pt">
    <table class="table" id="myTable" style="width:80%;border: 2em,thin; margin-left: 100px;">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">amount</th>
                <th scope="col">date</th>
                <th scope="col">payment</th>
                <th scope="col">Action</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i=0;i<result.length;i++){ %>
                <tr>
                    <th scope="row">
                        <%= result[i]._id %>
                    </th>
                    <td>₹ <%= result[i].bill %>
                    </td>
                    <td>
                        <%= result[i].orderDate %>
                    </td>
                    <td>
                        <%= result[i].paymentMode %>
                    </td>
                    <td><a href="/admin/back_delivery?id=<%= result[i]._id  %> "><button type="button"
                        class="btn btn-outline-success" onclick="return  confirm('Do you want to back <%= result[i]._id %>')">Back</button></a></td>

                                <td><a href="/admin/vieworder?id=<%= result[i]._id  %> "><button type="button"
                                            class="btn btn-outline-success">View</button></a></td>
                    </tr>
                    <% } %> 
        </tbody>
</table>
</div>
        <script>
            console.log("script working")
            function myfun(pt) {
                var bk = document.body.innerHTML;
                var dv = document.getElementById('pt').innerHTML;
                document.body.innerHTML = dv;
                document.body.style.padding = "20px"
                window.print();
                location.reload();
            }
            $(document).ready(function () {
                $('#myTable').DataTable()
            });
          </script>


<script>
    $(document).ready( function () {
      $('#myTable').DataTable();
  } );
  </script>
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
        
</body>

</html>