
<%- include('../layout/header') %> 
<%- include('../partials/user-header')  %> 



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<link rel="stylesheet" href="/stylesheets/wishlist.css">
</head>
<body>
    <div class="cart-wrap">
		<div class="container">
	        <div class="row">
			    <div class="col-md-12">
			        <div class="main-heading mb-10">My wishlist</div>
			        <div class="table-wishlist">
				        <table cellpadding="0" cellspacing="0" border="0" width="100%">
				        	<thead>
					        	<tr>
					        		<th width="15%">Product name</th>
					        		<th width="15%">product image</th>
					        		<th width="15%">price</th>
					        		<th width="15%">quantity</th>
					        		<th width="10%">stock</th>
					        	</tr>
					        </thead>
					        <tbody>
                                <% for(let i=0;i<docs.length;i++){ %> 
					        	<tr>
					        		<td width="15%" ><%= docs[i].productName  %> </td>
									<td><div class="img-product">
										<img src="/images/<%= docs[i].image1  %> " alt="" class="mCS_img_loaded">
									</div></td>
					        		<td width="15%" class="price"><%= docs[i].price  %> </td>
					    
					        		<td width="15%"><a href="/addto_cart<%= docs[i]._id%> "><button class="round-black-btn small-btn">Add to Cart</button></td></a>
					        		<td width="15%"><a href="/userhome/removewish?id=<%= docs[i]._id  %> "><button class="round-black-btn small-btn" style="background-color: red;" onclick=" return confirm('Are you sure want to remove this <%= docs[i].ProductName %> from wishlist')">Remove</button></td></a>
					        	</tr>
                                <% } %> 
					        	
				        	</tbody>
				        </table>
				    </div>
			    </div>
			</div>
		</div>
	</div>
	


    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>